html, body {
	height: 100%;
    width: 100%;
}

html {
	background-color: #666;
	background-size: cover;
    display: block;
}

body {
    background-color: #333;
	
	font-family: 'Raleway', 'Arial', sans-serif;
    display: block;
}

#home{
    background-color: #333;
    width: 100%;
    height: 100vh;
    margin: 2px;;
    color: #400;  
    text-align: center;
    padding: 10%;
    
    
}

nav{
    font-size: 1.5vw;
    background-color: #f00;
}
#home{
    padding: 10%;
}
#home button{
    margin-top: 10%;
    font-size: 3vw;
}

#timmer{
    background-color: #222;
    background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    display: block;
    
    
}

.robovit-text{
    margin: 5% auto;
    display: inline;
}
.countdown-container {
    position: relative;
    justify-content: center;
    border-top-color: #fff;
    border-top-width: thick;
    background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
    width: 100%;
    height: auto;
    padding: 5% 10%;
    margin: 20% auto;
    
    
    /*margin-top: 100vh;*/
    
		-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
    text-align: center;

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 3vw;
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 2.5vw;
}

.text .type-time {
	font-size: 2.3vw;
}
.robo{
    font-size: 6vw;
    color: #fff;
    font-family: serif;
}
.vit{
    font-size: 6.5vw;
    color: #f00;
    font-family: serif;
}
@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
    .countdown-container{
        position: absolute;
    margin-top: 100px;
    }
    
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
    .countdown-container{
        position: relative;
        margin-top: 200%;
    }
    
}
    
}
